@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #e5e5f7;
    background-image: radial-gradient(#9d9da1 0.5px, #090909 0.5px);
    background-size: 10px 10px;
}

.reveal-animation {
    animation: reveal 1.7s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

@keyframes reveal {
    0% {
        transform: translate(0, 100%);
    }
    100% {
        transform: translate(0, 0);
    }
}
